.fundo-azul {
    background-color: #000032;
}

.cor-azul {
    color: #000032;
}

.fundo-cinza {
    background-color: #202020;
}

.cor-azulclaro{
    color: #1E90FF;
}

.logo {
    width: 25%;
}

body {
    background-color: #2b2b2b;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.foto-perfil {
    width: 15%;
    border-radius: 50%;
    border: 2px solid white;
}

.portfolio-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.portfolio-primeiro-container {
    margin: 0;
    padding: 0;
    margin-top: 4em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-primeiro-container,
.portfolio-segundo-container,
.portfolio-terceiro-container,
.portfolio-quarto-container {
    padding: 0 1em;
}

.container-sobre-mim {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    gap: 0;
}

.paragrafo-apresentacao {
    text-align: justify;
    word-spacing: 0;
    line-height: 1.5;
    font-size: 1.2em;
}

.titulo-habilidades {
    font-size: 1.3em;
}

.icon {
    background-color: #202020;
    border-radius: 12px;
    height: 250px;
    width: auto;
    font-size: 4em;
}

.link {
    text-decoration: none;
}

.container-contato {
    display: flex;
    gap: 1em;
}

.container-contato-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 24px; 
    border-radius: 8px;
  }
  
  .container-contato-link .nome-contato-link {
    display: none; 
    margin-left: 8px; 
    font-size: 16px; 
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;  
}
  
  .container-contato-link:hover .nome-contato-link {
    display: inline; 
    opacity: 1; 
    transform: scale(1.2); 
  }
  
  .container-contato-link:hover {
    background-color: #005582; 
  }
  

.titulo-redes-sociais {
    margin-top: 0.5em;
}

.accordion-button{
    color: rgb(202, 201, 201);
}

.sem-sublinha{
    text-decoration: none;
    width: 1.5em;
}

.container-projetos{
    margin-bottom: 2em;
}

@media (max-width: 428px) {
    .foto-perfil{
        width: 40%;
        margin-bottom: 1em;
    }
}